# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.MINT_Game_Jam.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\GameJams\MINT_Game_Jam\.idea\.idea.MINT_Game_Jam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
